[Unit]
Description=EMPI Startup Script
After=multi-user.target

[Service]
ExecStart=/bin/bash /home/pi/empi/start_midi_predictor.sh
WorkingDirectory=/home/pi/empi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
